*.pyc
*~
*.*~
*.zip
*.egg-info
*.db
htmlcov/
build/
dist/
tests/
example/demo*/media/cache/
example/demo*/server-static/
example/demo*/static/
.emacs.desktop*
.tox
blognajd_tests
blognajd/.coverage
blognajd/media
