{% extends "blognajd/base.html" %}
{% load flatblock_xtd_tags %}

{% block title %}{{ block.super }}&nbsp;&raquo;&nbsp;contact me{% endblock %}

{% block nav-contact %}<li class="active"><a href="{% url 'contactme-get-contact-form' %}">contact</a></li>{% endblock %}

{% block nav-sitename %}<a href="{% url 'index' %}">{{ settings.BLOGNAJD.site_short_name }}</a>{% endblock %}

{% block jumbotron %}
{% flatblock_xtd "jumbotron-contact" using "flatblocks_xtd/jumbotron.html" %}
{% endblock %}

{% block body %}
<div id="body-contact">
  <div class="row" style="margin-bottom:40px">
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
      {% flatblock_xtd 'contact-details' %}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
      {% block contactme %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
