{% load blognajd_themes %}
{% load staticfiles %}
{% load flatblock_xtd_tags %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ settings.BLOGNAJD.site_short_name }}{% endblock %}</title>
    {% if settings.DEBUG %}<meta http-equiv="pragma" content="no-cache"/>{% endif %}
    <meta name="robots" content="index,follow">
    <meta name="author" content="{{ settings.BLOGNAJD.meta_author }}">
    <meta name="keywords" content="{{ settings.BLOGNAJD.meta_keywords }}">
    <meta name="description" content="{% block meta-description %}{{ settings.BLOGNAJD.meta_description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extrahead %}{% endblock %}    

    <link href="{% theme_static 'css/bootstrap.min.css' %}" rel="Stylesheet">
    <link href="{% theme_static 'css/theme.css' %}" rel="Stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 
	 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    {% block extracss %}{% endblock %}

  </head>
  <body>
    <div class="container-narrow">
      <div id="header">
	<ul class="nav nav-pills pull-right">
	  {% if settings.BLOGNAJD.has_about_page %}{% block nav-about %}<li><a href="{% url 'about' %}">about</a></li>{% endblock %}{% endif %}
	  {% if user.is_authenticated %}
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      {{ request.user.username }}&nbsp;<b class="caret"></b></a>
	    <ul class="dropdown-menu">
	      {% if request.session.unpublished_on %}
	      <li><a href="{% url 'unpublished-off' %}?next={{ request.path }}">Hide unpublished</a></li>
	      {% else %}
	      <li><a href="{% url 'unpublished-on' %}?next={{ request.path }}">Show unpublished</a></li>
	      {% endif %}
	    </ul>
	  </li>
	  {% endif %}
	  <li class="dropdown {% block class-nav-blog %}{% endblock %}">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      blog <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="{% url 'blog' %}">home</a></li>
	      <li><a href="{% url 'archive' %}">archive</a></li>
	      <li><a href="{% url 'tags' %}">tags</a></li>
	    </ul>
	  </li>
	  {% if settings.BLOGNAJD.has_projects_page %}{% block nav-projects %}<li><a href="{% url 'projects' %}">projects</a></li>{% endblock %}{% endif %}
	  {% if settings.BLOGNAJD.has_contact_page %}{% block nav-contact %}<li><a href="{% url 'contactme-get-contact-form' %}">contact</a></li>{% endblock %}{% endif %}
	</ul>
	<h3 class="muted">{% block nav-sitename %}{{ settings.BLOGNAJD.site_short_name }}{% endblock %}</h3>
      </div><!-- header -->
      <hr>

      {% block jumbotron %}
      {% endblock %}

      {% block body %}
      {% endblock %}

      <hr>
      <div id="footer">
	<p>{% flatblock_xtd 'footer-copyright' %}</p>
	<p>{% flatblock_xtd 'footer-license' %}</p>
      </div>
    </div>

    {% block modal %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrajs %}{% endblock %}

  </body>
</html>
