{% extends "blognajd/base.html" %}
{% load staticfiles %}
{% load flatblock_xtd_tags %}

{% block title %}{{ block.super }}&nbsp;&raquo;&nbsp;projects{% endblock %}

{% block extracss %}
<link href="{% static 'inline_media/css/inline_media.css' %}" media="screen" />
<link href="{% static 'prettyphoto-3.1.3/css/prettyPhoto.css' %}" media="screen" />
{% endblock %}

{% block extrajs %}
<script src="{% static 'inline_media/js/inline_media.js' %}"></script>
<script src="{% static 'prettyphoto-3.1.3/js/jquery.prettyPhoto.js' %}"></script>
{% endblock %}

{% block nav-projects %}<li class="active"><a href="{% url 'about' %}">projects</a></li>{% endblock %}

{% block nav-sitename %}<a href="{% url 'index' %}">{{ usersettings.site_short_name }}</a>{% endblock %}

{% block jumbotron %}
{% flatblock_xtd "jumbotron-projects" using "flatblocks_xtd/jumbotron.html" %}
{% endblock %}

{% block body %}
<div id="body-projects">
  {% include "blognajd/includes/projects.html" %}
</div>
{% endblock %}
