{% extends "blognajd/base.html" %}

{% block title %}{{ block.super }}&nbsp;&raquo;&nbsp;archive {{ year.year }}{% endblock %}

{% block nav-sitename %}<a href="{% url 'index' %}">{{ usersettings.site_short_name }}</a>{% endblock %}

{% block class-nav-blog %}active{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <h3>Archive {{ year.year }}</h3>
</div>
{% endblock %}

{% block body %}
<div id="body-blog-archive">
  <div class="row">
    {% for object in object_list reversed %}
    {% include "blognajd/includes/story_archive.html" %}    
    {% endfor %}
  </div>
</div>

<nav>
  <ul class="pager">
    {% if previous_year %}
    <li><a href="{% url 'archive-year' previous_year.year %}"><span aria-hidden="true">&larr;</span> older</a></li>
    {% else %}
    <li class="disabled"><a href="#"><span aria-hidden="true">&larr;</span> older</a></li>
    {% endif %}
    {% if next_year %}
    <li><a href="{% url 'archive-year' next_year.year %}">newer <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
    <li class="disabled"><a href="#">newer <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</div>

{% endblock %}
