{% extends "blognajd/base.html" %}

{% block title %}{{ block.super }}&nbsp;&raquo;&nbsp;archive {{ year.year }}{% endblock %}

{% block nav-sitename %}<a href="{% url 'index' %}">{{ settings.BLOGNAJD_SITE_SHORT_NAME }}</a>{% endblock %}

{% block class-nav-blog %}active{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <h3>Archive {{ year.year }}</h3>
</div>
{% endblock %}

{% block body %}
<div id="body-blog-archive" class="row-fluid">
  {% for object in object_list reversed %}
  {% include "blognajd/includes/story_archive.html" %}    
  {% endfor %}
</div>

<div class="pagination pagination-centered">
  <ul>
    {% if previous_year %}
    <li><a href="{% url 'archive-year' previous_year.year %}">Prev</a></li>
    {% else %}
    <li class="disabled"><a href="#">Prev</a></li>
    {% endif %}
    {% if next_year %}
    <li><a href="{% url 'archive-year' next_year.year %}">Next</a></li>
    {% else %}
    <li class="disabled"><a href="#">Next</a></li>
    {% endif %}
  </ul>
</div>

{% endblock %}
