{% extends "blognajd/base.html" %}
{% load taggit_templatetags2_tags %}

{% block title %}{{ block.super }}&nbsp;&raquo;&nbsp;tags{% endblock %}

{% block nav-sitename %}<a href="{% url 'index' %}">{{ settings.BLOGNAJD.site_short_name }}</a>{% endblock %}

{% block class-nav-blog %}active{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <h3>Tags</h3>
</div>
{% endblock %}

{% block body %}
<div id="body-blog-tags">
  <div class="row">
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
      {% get_taglist as tags for 'blognajd.Story' %}
      <ul class="tags">
	{% for tag in tags %}
	<li><a href="{% url 'tag-detail' tag.slug %}" class="label label-default">{{ tag.name }}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
