body {
    padding-bottom: 40px;
    padding-top: 20px;
}

.jumbotron H1, .jumbotron H3, #header .muted { 
    font-family: monospace;
    letter-spacing: -1px;
}

#header H3 {
    vertical-align: top;
}

#footer { 
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 3em;
    line-height: 1.2em;
}

#search-div {
    text-align: center;
}

#body-index H5, #body-about H5, #body-contact H5, #body-blog H5 {
    text-transform: uppercase;
    color: #999;
}

#body-projects H5, #comments H5 {
    text-transform: uppercase;
    color: #333;
}

/* #body-projects P { font-size: 1.1em } */

#story-list-index ARTICLE            { margin: 0 0 20px 0 }
#story-list-index ARTICLE:last-child { margin: 0 }

#story-list-blog-index ARTICLE            { margin: 0 0 30px 0 }
#story-list-blog-index ARTICLE:last-child { margin: 0 }

.date, .comment-count {
    font-size: 0.9em;
    color: #666;
}

.extrasep { margin-top: 20px; margin-bottom: 20px }

.border { border-bottom: 1px dotted #ccc }

.story-index .headline { 
    font-size: 1.1em;
    text-transform: uppercase;
}

.story-index .abstract:before { content: "-" }

BLOCKQUOTE P {
    font-size: 15px;
    font-style: italic;
}

.blog-index .headline {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.blog-index .abstract { font-size: 1.1em }
.blog-index BLOCKQUOTE   { padding-right: 2.4em }
.blog-index BLOCKQUOTE P { font-size: 1em }
.blog-index .detail { font-size: 1.1em }
.blog-index .quote-source { font-size: 0.8em }

.blog-index .headline .time {
    font-size: 0.8em;
    text-transform: lowercase;
    color: #666;
}
.blog-index .headline .time:before { content: '\2014 \00A0' }

.blog-archive-index .headline {
    text-transform: uppercase;
    font-size: 1.1em;
}

.blog-archive-index .headline SPAN {
    text-transform: lowercase;
}

.story .subtitle {
    padding-top: 5px;
    border-top: 1px solid #eee;
}

#body-story { font-size: 1.1em }
#body-story P, #body-story LI { line-height: 22px }
#body-story LI { margin: 2px 0 }
#body-story BLOCKQUOTE { margin: 8px 0 }
#body-story H1, #body-story H2, #body-story H3,
#body-story H4, #body-story H5, #body-story H6 { 
    margin: 24px 0 20px;
    font-family: monospace;
    letter-spacing: -1px;
}
#body-story H1 { border-bottom: 2px solid #eee; font-size: 28.25px }
#body-story H2 { border-bottom: 1px solid #eee; font-size: 28.25px }
#body-story H3 { border-bottom: 1px solid #eee; font-size: 26.25px }
#body-story H4 { font-size: 24.75px }
#body-story H5 { font-size: 21.75px }
#body-story H6 { font-size: 18.75px }
#body-story CODE { font-size: 1.1em }

#body-projects .dl-horizontal DT { width: 180px }
#body-projects .dl-horizontal DD { margin-left: 200px }

.pagination { margin-top: 40px }

FORM.std,
.comment-form FORM {
  display: block;
  margin: 0 auto;
  width: 85%;
  padding: 10px 0 0 0;
  color: #333333;
}

FORM.std DIV,
.comment-form FORM DIV {
  margin: 8px 0 0;
  text-align: left;
}

FORM.std DIV > LABEL,
.comment-form FORM DIV > LABEL {
  display: inline-block;
  margin: 0 5px;
  width: 150px;
  padding: 2px 0;
  color: #333333;
  text-align: right;
}

FORM.std DIV > LABEL.autowidth,
.comment-form FORM DIV > LABEL.autowidth {
  display: inline;
  width: auto;
}

FORM.std DIV > INPUT,
.comment-form FORM DIV > INPUT {
  display: inline-block;
  margin: 0 5px;
  font-size: 1em;
  text-align: left;
}

FORM.std DIV > INPUT[name=followup],
.comment-form FORM DIV > INPUT[name=followup] {
  display: inline;
  margin-left: 7%;
}

FORM.std DIV > SPAN,
.comment-form FORM DIV > SPAN {
  display: block;
  margin: 0 5px;
  padding: 2px 0;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #555555;
  text-align: center;
}

FORM.std DIV > TEXTAREA,
.comment-form FORM DIV > TEXTAREA {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
}

FORM.std DIV > INPUT:focus,
FORM.std DIV > TEXTAREA:focus,
.comment-form FORM DIV > INPUT:focus,
.comment-form FORM DIV > TEXTAREA:focus {
  background-color: #ffffff;
}

FORM.std P > INPUT[type=submit],
.comment-form FORM P > INPUT[type=submit] {
  margin: 10px 4px 4px;
}

FORM.std P.buttons {
   text-align: center; 
}

UL.errorlist {
    margin: 0 0 10px;
    list-style: none;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    font-weight: bold;
}
UL.errorlist LI { text-align: right }

#comments .list .comment:first-child { margin: 20px 0 30px }
#comments .list .comment             { margin: 30px 0 }
#comments .list .comment:last-child  { margin: 30px 0 0 }

.monospace { 
    font-family: monospace;
    letter-spacing: -1px;
}

.tagcloud A {
  margin: 3px 5px;
  padding: 5px 8px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em;
}

A.tag:hover, A.tag:focus { background-color: #0088cc }

code {
    background-color: inherit;
    border: inherit;
    padding: inherit;
}
