{% load comments inlines %}

{% get_comment_count for object as comment_count %}
<article class="row-fluid">
  <div class="date text-right span3">
    {{ object.pub_date|date:"M d, Y" }}
    {% if object.status == 1 %}
    <br><span class="label label-important">draft</span>
    {% endif %}
    {% if comment_count %}
    <p><a href="{{ object.get_absolute_url }}#comments">{{ comment_count }}&nbsp;comment{{ comment_count|pluralize }}</a></p>
    {% endif %}
  </div>
  <div class="span9">
    <div class="story-index">
      <span class="headline">
	<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
      </span>
      <span class="abstract">
	{{ object.abstract_markup|striptags|truncatewords:settings.BLOGNAJD_TRUNCATE_TO }}
      </span>
    </div>
  </div>
</article>
