{% load comments %}
{% load inlines %}

{% get_comment_count for object as comment_count %}
<article class="row">
  <div class="col-lg-3 col-md-3">
    <div class="date text-right">
      {{ object.pub_date|date:"M d, Y" }}
      {% if object.status == 1 %}
      <br><span class="label label-important">draft</span>
      {% endif %}
      {% if comment_count %}
      <p><a href="{{ object.get_absolute_url }}#comments">{{ comment_count }}&nbsp;comment{{ comment_count|pluralize }}</a></p>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-9 col-md-9">
    <div class="story-index">
      <span class="headline">
	<a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
      </span>
      <span class="abstract">
	{{ object.abstract_markup|striptags|truncatewords:settings.BLOGNAJD.truncate_to }}
      </span>
    </div>
  </div>
</article>
