{% load comments_xtd %}
<div class="comment row-fluid">
  <div class="offset{{ comment.level }} 
	      {% ifequal comment.level 0 %}span12
	      {% else %}{% ifequal comment.level 1 %}span11
	      {% else %}{% ifequal comment.level 2 %}span10
	      {% endifequal %}{% endifequal %}{% endifequal %}">
    <div class="row-fluid">
      <div class="span10">
	<span class="date">{{ comment.submit_date|date:"F j, Y" }}</span>
	&nbsp;-&nbsp;
	{{ comment.name }}{% if comment.user_url %},&nbsp;<small class="monospace">{{ comment.user_url|urlizetrunc:28 }}</small>{% endif %}
      </div>
      {% if comment.allow_thread %}
      <div class="span2 pull-right text-right">
	<small><a href="{{ comment.get_reply_url }}">reply</a></small>
      </div>
      {% endif %}
    </div>
    <div class="row-fluid">
      <div class="span12 text">
	{{ comment.comment|render_markup_comment }}
      </div>
    </div>
  </div>
</div>
